<uid-textarea *ngIf="!properties.labelHidden"
	[readonly]="properties.readOnly"
	[required]="properties.required"
	[minLength]="properties.minLength"
	[maxLength]="properties.maxLength"
	[label]="properties.label"
	labelPosition="{{properties.labelPosition}}"
	labelWidth="{{properties.labelWidth}}"
	[(value)]="properties.value"
	></uid-textarea>
<uid-textarea *ngIf="properties.labelHidden"
	label-hidden
	[readonly]="properties.readOnly"
	[required]="properties.required"
	[minLength]="properties.minLength"
	[maxLength]="properties.maxLength"
	[label]="properties.label"
	labelPosition="{{properties.labelPosition}}"
	labelWidth="{{properties.labelWidth}}"
	[(value)]="properties.value"
	></uid-textarea>
