<uid-input *ngIf="!properties.labelHidden"
	[required]="properties.required"
	[readonly]="properties.readOnly"
	[minLength]="properties.minLength"
	[maxLength]="properties.maxLength"
	[label]="properties.label"
	labelPosition="{{properties.labelPosition}}"
	labelWidth="{{properties.labelWidth}}"
	[placeholder]="properties.placeholder"
	[(value)]="properties.value"
	type="{{properties.type}}"
	[min]="properties.min"
	[max]="properties.max"
	[step]="properties.step"
	></uid-input>
<uid-input *ngIf="properties.labelHidden"
	label-hidden
	[required]="properties.required"
	[readonly]="properties.readOnly"
	[minLength]="properties.minLength"
	[maxLength]="properties.maxLength"
	[label]="properties.label"
	labelPosition="{{properties.labelPosition}}"
	labelWidth="{{properties.labelWidth}}"
	[placeholder]="properties.placeholder"
	[(value)]="properties.value"
	type="{{properties.type}}"
	[min]="properties.min"
	[max]="properties.max"
	[step]="properties.step"
	></uid-input>
