<uid-input ng-if="!properties.labelHidden"
	ng-required="properties.required"
	ng-readonly="properties.readOnly"
	min-length="{{properties.minLength}}"
	max-length="{{properties.maxLength}}"
	label="{{properties.label}}"
	label-position="{{properties.labelPosition}}"
	label-width="{{properties.labelWidth}}"
	placeholder="{{properties.placeholder}}"
	value="{{properties.value}}"
	type="{{properties.type}}"
	min="{{properties.min}}"
	max="{{properties.max}}"
	step="{{properties.step}}"
	></uid-input>
<uid-input ng-if="properties.labelHidden"
	label-hidden
	ng-required="properties.required"
	ng-readonly="properties.readOnly"
	min-length="{{properties.minLength}}"
	max-length="{{properties.maxLength}}"
	label="{{properties.label}}"
	label-position="{{properties.labelPosition}}"
	label-width="{{properties.labelWidth}}"
	placeholder="{{properties.placeholder}}"
	value="{{properties.value}}"
	type="{{properties.type}}"
	min="{{properties.min}}"
	max="{{properties.max}}"
	step="{{properties.step}}"
	></uid-input>
